fastapi
uvicorn[standard]
requests
beautifulsoup4
chromadb>=0.4.15
langchain
langchain-text-splitters
sentence-transformers>=2.2.2
groq
python-dotenv
pydantic
streamlit>=1.28.0
pysqlite3-binary>=0.5.2
